langchain
ipykernel
python-dotenv
faiss-cpu
langchain_community
langchain_openai
langchain_core
langchain_groq
langchain_ollama
langchain_text_splitters
langchain_huggingface
langchain_chroma
sentence_transformers
pypdf
bs4
streamlit
arxiv
tqdm
pymupdf
fastapi
uvicorn
langserve
pydantic<2
sse_starlette