langchain
langchain_community
langchain_openai
langchain_core
langchain_groq
langchain_ollama
langchain_text_splitters
langchain_huggingface
langchain_nvidia_ai_endpoints
langchain_chroma
langchain_astradb
jupyter
python-dotenv
faiss-cpu
sentence_transformers
pypdf
bs4
streamlit
arxiv
tqdm
fastapi
uvicorn
langserve
pydantic<2
sse_starlette
wikipedia
duckduckgo-search
langchain_cohere
mysql-connector-python
youtube_transcript_api
pytube
numexpr
# crew ai
crewai
crewai-tools
## pinecone
pinecone
pinecone-text
pinecone-notebooks