langchain
jupyter
ipywidgets
python-dotenv
faiss-cpu
langchain_community
langchain_openai
langchain_core
langchain_groq
langchain_ollama
langchain_text_splitters
langchain_huggingface
langchain_nvidia_ai_endpoints
langchain_chroma
langchain_astradb 
sentence_transformers
pypdf
bs4
streamlit
arxiv
tqdm
fastapi
uvicorn
langserve
pydantic<2
sse_starlette
wikipedia
duckduckgo-search
langchain_cohere
mysql-connector-python
youtube_transcript_api
pytube
numexpr
huggingface_hub
crewai
crewai-tools